PORT=4000
NODE_ENV=development

DATABASE_URL="postgresql://spx:spx_dev_password@localhost:5432/spx?schema=public"

#DATABASE_URL="postgresql://postgres.mqxluelamdcwxvwglsgm:Thistakestoolong4@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"
REDIS_URL="redis://localhost:6379"

# https://dashboard.clerk.com -> API Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dXNlZnVsLWdvbGRmaXNoLTE2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_uvPqoIcVMR10wR8lCoPuRQSbeqsdHvzoPSVZKq31rf

# https://dashboard.stripe.com/test/apikeys (enable Connect in the dashboard)
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxx

# CORS
WEB_APP_URL=http://localhost:3000

# S3 (presigned uploads for floorplans/photos)
AWS_REGION=eu-west-2
AWS_S3_BUCKET=spx-uploads
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
